@import "../library.scss";

.button {
  margin: 0 auto;
  //   margin-left: 2rem;
  //   margin-right: 2rem;
  background: none;
  border: none;
  padding: 0;
  /*optional*/
  color: $font-color;
  font-family: $general-font;
  font-size: 1.25rem;
  font-weight: bold;
  width: 17.5rem;
  /*input has OS specific font-family*/
  //color: #069;

  cursor: pointer;

  &.selected {
    outline: none;
    border: solid $orange;
    border-top: none;
    border-left: none;
    border-right: none;
    color: $font-color !important;
  }
  &:focus {
    outline: none;
  }

  &:hover {
    color: #ff8e3c;
  }
}
