@import "../library.scss";

.nav_bar {
  height: 12.5rem;
  //background-color: $nav-color;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  height: 10rem;

  .header_div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100vw;
    width: 70rem;

    h1 {
      font-size: 3.5rem;
      font-weight: bold;
      font-family: $header-font;
      color: $font-color;
      margin: 1rem;
      margin-top: 2rem;
      padding: 0;
    }

    h2 {
      font-size: 1.5rem;
      font-style: italic;
      font-family: $header-font;
      color: $blue-gray;
      margin: 0 auto;
      margin-left: 0rem;
      margin-top: 2.75rem;
      padding: 1rem;
    }
  }
}

.contact_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100vw;
  width: 70rem;

  .contact_text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    a {
      text-decoration: none;
    }

    h3 {
      font-family: $header-font;
      padding: 0;
      margin: 0 auto;
      margin-left: 1rem;
      margin-right: 1rem;
      color: $blue-gray;
      font-family: $general-font;
    }
  }

  img {
    height: 2.5rem;
    width: 2.5em;
    opacity: 38%;
    margin-right: 1rem;
    margin-left: 1rem;
    text-decoration: none;

    &:hover {
      opacity: 65%;
      // border-bottom: solid $orange;
      // border-width: 2px;
    }
  }
}

.nav_buttons {
  background-color: white;
  height: 2.5rem;
  font-family: $header-font;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid;
  border-color: lightgray;
  border-width: 1px;
  border-left: none;
  border-right: none;
}

.download {
  &:hover {
    border-bottom: solid $orange;
    border-width: 2px;
    cursor: pointer;
  }
}
