@import "../library.scss";

.article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // max-width: 100vw;
  // width: 69rem;
  // margin: 0 auto;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  font-family: $general-font;
  color: $font-color;

  img {
    min-width: 20rem;
    width: 20rem;
    height: 26.6666875rem;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.15);
  }

  .summary_content_box {
    margin: 1rem;
    background-color: #e3f6f5;
    border-radius: 0.5rem;
    flex-grow: 1;
    max-width: 100vw;
    width: 35vw;

    h2 {
      padding-top: 0.7rem;
      margin: 1rem;
      margin-bottom: 0rem;
    }

    p {
      margin: 1rem;
      //width: 40vw;
      //max-width: 41rem;
      font-family: $general-font;
      font-size: 1.2rem;
      word-break: break-word;
    }
  }

  .stack_content_box {
    margin: 1rem;
    background-color: #e3f6f5;
    border-radius: 0.5rem;
    flex-grow: 1;
    max-width: 100vw;

    h2 {
      padding-top: 0.7rem;
      margin: 1rem;
      margin-bottom: 0rem;
    }

    p {
      margin: 1rem;
      // flex-grow: 1;
      // max-width: 100vw;
      font-family: $general-font;
      font-size: 1.2rem;
      word-break: break-word;
    }
  }
}
